

<h1>Create New User</h1>

<ul>
    <% if flash[:error] %>
        <% flash[:error].each do |error| %>
            <li class="error"><%= error %></li>
        <% end %>
    <% end %>
</ul>

<%= link_to "Login", "/login" %>

<%= form_for(@user) do |f| %> <!-- should post to /users not /users/new -->
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit %>
<% end %>
