
    <h1> <% cookies['variety'] = "chocolate-chip" %></h1>
    <h1> <% session['flavor'] = "delicious" %></h1>
    <h1><%= @snack.name %></h1>
    <div><%= @snack.calories %> calories </div>
    <div>Deliciousness: <%= @snack.deliciousness %></div>
    <div>Made by: <%= @snack.retailer.name %></div>

    <%= link_to "Index", snacks_path %>
    <%= link_to "Edit", edit_snack_path %>
