<%= form_for @retailer do |r| %>
<%= r.label :name %>
<%= r.text_field :name %>
<%= r.label :year_established %>
<%= r.number_field :year_established %>
<%= r.submit %>

    <div>
        <%= r.fields_for :snacks do |snack| %>
        <%= snack.label :name, "Snack Name" %>
        <%= snack.text_field :name %>
        <%= snack.label :calories %>
        <%= snack.number_field :calories %>
        <%= snack.label :deliciousness %>
        <%= snack.select :deliciousness, (1..10) %>
    <% end %>
</div>
<% end %>