<% if @retailer.errors %>
    <ul>
        <% @retailer.errors.full_messages.each do |message| %>
            <li class="error"><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @retailer do |r| %>
<%= r.label :name %>
<%= r.text_field :name %>
<%= r.label :year_established %>
<%= r.number_field :year_established %>
<%= r.submit %>

<% end %>