<h1>Login</h1>

<% if flash[:message] %>
  <p><%=flash[:message]%></p>
<% end %>

<%= form_tag '/login', {class: 'ui form'}  do %>

  <div class="field">
    <label for="username">Username</label>
    <%= text_field_tag :'user[username]' %>
  </div>

  <div class="field">
    <label for="password">Password</label>
    <%= password_field_tag :'user[password_digest]' %>
  </div>

  <%= submit_tag 'Login', {class: 'ui huge inverted pink button'} %>
<% end %>
