<!DOCTYPE html>
<html>
<head>
    <title>This is a snack</title>
</head>
<body>
    <h1><%= @snack.name %></h1>
    <div><%= @snack.calories %> calories </div>
    <div>Deliciousness: <%= @snack.deliciousness %></div>

    <%= link_to "Index", snacks_path %>
    <%= link_to "Edit", edit_snack_path %>
</body>
</html>